<!-- sidebar.html -->
<div id="sidebar" class="sidebar collapsed">
    <div class="user-info">
      <span id="user-name">Nome do Usuário</span>
    </div>
  
    <button id="toggleSidebar" class="hamburger">&#9776;</button>
  
    <ul class="menu">
      <li><a href="acompanhamento.html">Painel de Acompanhamento</a></li>
      <li><a href="hospedagem.html">Hospedagem</a></li>
      <li><a href="alimentacao.html">Alimentação</a></li>
      <li><a href="combustivel.html">Combustível</a></li>
      <li><a href="deslocamento.html">Deslocamento</a></li>
      <li><a href="estacionamento.html">Estacionamento</a></li>
      <li><a href="itens.html">Itens de Escritório</a></li>
      <li><a href="outras.html">Outras Despesas</a></li>
    </ul>
  </div>
  